section.footer {
  background: url("../images/element.svg") no-repeat left bottom,
    linear-gradient(183deg, #59afdd -8.57%, #4787e8 82.96%);   
}

.footer__nav-item {
  display: flex;
  margin-right: 166px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
}