section.header {
  border-bottom: 1px solid black;
}

.conteiner.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.header__left, .header__right {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

