.our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.our-services {
  background: url("../images/vector.svg") no-repeat 0 33%,
    url("../images/element.svg") no-repeat 100% 103%;

  padding-bottom: 218px;
}

.conteiner.our-services {
  background-image: url("../images/element.svg");
  background-repeat: no-repeat;
  background-position: right 52%;
}

.our-services__top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph.our-services {
  text-align: center;
}

.our-services__services {
  padding-bottom: 72px;
  padding-top: 80px;
  padding-right: 12px;

  display: flex;
  flex-wrap: wrap;
}

.our-services__service {
  width: 350px;
  height: 354px;

  border-radius: 20px;
  background: #fff;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;

  margin-bottom: 35px;
  margin-left: 35px;

  transition: height 1s;
}

.our-services__service:hover {
  height: 364px;
}

.title.our-services__service-item {
  font-size: 1.8rem;
}

.paragraph.our-services__service-item {
  font-size: 1rem;
}

.our-services__service-item {
  padding-left: 45px;
  padding-right: 45px;
  margin: 0;
}

@media screen and (max-width: 1240px) and (min-width: 500px) {
  .our-services__services {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .paragraph.our-services__service-item {
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 500px) {
  .our-services__service {
    margin: 10px auto;
    width: 90%;

    display: flex;
    align-items: center;
  }
}